.header-title {
    width: 280px;
    background-color: #1B1D21;

    h1 {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        color:#EFF0F0;
        padding: 40px 76px 33px 76px;
    }  
}